#image {
    line-height: 450px;
    width: 575px;
    height: 450px;
    border: 5px solid black;
    background-color: peachpuff;
    background-image: url('');
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-align: center;
    background-size: 100%;
    margin: 0 auto 25px;
    font-size: 250%;
}

.preview {
    width: 10%;
    margin-left: 17%;
}

img {
    width: 95%;
}

#text2 {
    padding-top: 100px;
    color: white;
}

#preview {
    width: 10%;
}