<div class="parent-container">
  <div class="child-container">
    <h2 style="color:black;">Hello, Welcome to <b>Find Your Recipe!!!
    </b></h2>
    <span class="desc" style="color:black;">FInd Your Recipe is a Mashup Web Application which is built using <i> Foursquare & Edamam's Recipe Search API </i> . This application find Recipe and Place to find that Food.</span><br><br><br>
     <button [routerLink]='["/search-recipe"]' class="btn btn-secondary" style="width: 350px" type="button" style="color:white;background-color:black">Find Your Recipe/Find Nearest Restaurant</button>
  </div>
</div>
