<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
          <ul class="nav navbar-nav">
        <li><a routerLink="/search-recipe" style="color:black"><b> Find your Recipe</b></a></li>
        </ul>
    </div>

    <div class="collapse navbar-collapse tx">
      <ul class="nav navbar-nav">
        <li><a routerLink="/home" style="color:black"><b>Home</b></a></li>
        <li><a routerLink="/search-recipe"style="color:black"><b>Search Recipe</b></a></li>
      </ul>

    </div>
  </div>
</nav>
